.tours-infomation{
  list-style: none;
  li{
    padding: 10px 0px;
  }
  i{
    font-size: 18px;
    margin-right: 10px;
    width: 30px;
    color : #dd1d21

  }
  strong{
    font-weight: 600;
    color : #dd1d21

  }
}
