.box-cars-list {
  .box-content{
    padding-top: 20px;
    p{
      line-height: 14px;
      text-align: left;
    }
  }
  .el-card-content{
    padding-left: 30px;
    h3{
      font-size: 20px;
      text-align: left;
    }
  }
  .el-card-item{
    padding-bottom: 0;
  }
}
