@import "../../../../styles/variable";
.contact-content{
  p{
    line-height: $line-height-base;
    text-align: justify;
  }
}
.contact-box{
  padding: 1rem 1.5rem;
  border: solid 1px $border-color-base-guest;
  border-top: solid 5px $border-color-base-guest;

  table{
    margin-bottom: 15px;
    td{
      padding: 0.5rem;
    }
  }
}
.contact{
  .hot-line{
    color: $red-guest;
  }
}
